<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<div class="row">
  <div class="col-sm-3">

    <%= nested_attributes(@topics.roots)%>
  </div>
  <div class="col-sm-9">
    <div class="row">
      <p>Some random data will be here </p>
    </div>
    <div class="row">
      <div class="col-sm-4 box">
        <p>All evokes <%= @evokes_count%></p>
      </div>
      <div class="col-sm-4 box">
        <p>Active Evokes <%= @active_evokes_count %></p>
      </div>
      <div class="col-sm-4 box">
        <p>Inactive Evokes <%= @inactive_evokes_count %></p>
     </div>

    </div>
    <div class="row">
      <div class="col-sm-6">
      <p>Evokes will come here<p>
      <div id="evokes">
        <%= render partial: 'topics/evokes' , :locals => {topic: @topics.first }%>
      </div>
    </div>

    <div class="col-sm-6">
      <div id="evoke">
        <%= render partial: "evokes/evoke"%>
      </div>
    </div>

    </div>

  </div>
</div>
